* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* Header */
nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 40, 56, 0.3);
    position: fixed;
    top: 0;
    padding: 20px 25px;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgb(0, 0, 0, 0.2);
}
  
ul {
  list-style: none;
  margin-right: 5%;
}
  
ul li {
  display: inline-block;
}
  
li a {
  margin-left: 40px;
  cursor: pointer;
}
  
nav a {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}
  
#title {
  font-size: 28px;
}

.u-color {
  text-decoration: underline;
  text-decoration-color: #588157;
  height: 1px;
  text-decoration-thickness: 4px;
}

/* Body */

.body {
    margin-top: 100px;
    min-height: 700px;
}

.affiche {
    height: 800px;
    /* max-height: 500px; */
}

.aff-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.aff-img img {
    width: 100%;
    height: 100%;
    /* max-height: 400px; */
    opacity: 0.7;
}

.aff-text {
    position: absolute;
    top: 300px;
    left: 10%;
    width: 600px;
    min-height: 150px;
    font-size: 200%;
    color: black;
    /* background-color: black; */
}

.aligner-centre {
    margin-top: 15px;
    opacity: 0.7;
    text-align: center;
}

.presentation {
    margin: 2.5% 2.5% 2.5% 2.5%;
    padding: 2.5%;
    box-shadow: 0px 2px 2px rgb(40, 38, 38);
}
.presentation h4 {font-size: 20px; color: #588157;}
.presentation p {font-size: 18px;}

.images {
    width: 100%;
    min-height: 200px;
    /* margin: 2.5%; */
    /* padding: 2.5%; */
    display: flex;
}

.images img {
    width: 50%;
    height: 100%;
}
/* Footer */
footer {
    position: absolute;
    /* bottom: 0; */
    background-color: #588157;
    width: 100%;
}

footer h2, .first-letter-style::first-letter {
    font-size-adjust: 25px;
    color: #7c795d;
    font-family: 'Trocchi',
    serif; font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
}

footer label {margin-left: 10%;}

footer {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    color: #fff;
}

footer input {
    height: 40px;
    min-width: 350px;
    margin-top: 5px;
    background-color: #fff;
    text-decoration: none;
    border: none;
    opacity: 0.7;
    margin-left: 10%;
    border-radius: 12px;
}

footer input:hover {
    border-bottom: 1px solid black;
    border: none;
}

#inscription-btn {
    margin-top: 10px;
    min-width: 350px;
    height: 30px;
    cursor: pointer;
    opacity: 0.5;
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10%;
    border-bottom: 1px solid black;
    transition: 2s;
    border-radius: 12px;
}

#inscription-btn:hover {
    text-decoration: underline;
    background-color: #bda383;
    color: #fff;
}